/* Styles for the navigation container */
.navigationContainer {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    background-color: #f0f0f0; /* Optional: Background color for the navigation bar */
}

/* Styles for the navigation links within the navigation container */
.navigationContainer .navigationLink {
    text-decoration: none;
    color: #000; /* Text color */
    font-weight: bold;
}

/* Styles for the navigation links on hover within the navigation container */
.navigationContainer .navigationLink:hover {
    color: #ED1D24; /* Change color on hover to Marvel red */
}

/* Grid layout for movies */
.moviesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Keep 4 columns */
    gap: 30px;
    padding: 20px;
    max-width: 1600px; /* Increase the max-width to expand the table */
    margin: 0 auto; /* Center the grid within its parent */
    background-color: #1c1c1c; /* Very dark gray background */
}

/* Styles for each movie cell */
.movieCell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%; /* Adjust width */
}

/* Placeholder image style */
.moviePoster {
    width: 100%; /* Adjust the size as needed */
    height: auto; /* Adjust the size as needed */
    object-fit: cover;
}

/* Movie title style */
.movieTitle {
    color: white; /* White text color */
    font-size: 14px; /* Reduced font size */
    margin: 10px 0; /* Add some margin */
}

/* Movie title hover effect */
.movieTitle:hover {
    color: #ED1D24; /* Marvel red color on hover */
}

/* Release date style */
.movieDate {
    color: #b0b0b0; /* Light gray text color */
    font-size: 12px; /* Adjust font size if needed */
}

/* Center header */
.header {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
