/* Styles for the navigation container */
.navigationContainer {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    background-color: #f0f0f0; /* Optional: Background color for the navigation bar */
}

/* Styles for the navigation links within the navigation container */
.navigationContainer .navigationLink {
    text-decoration: none;
    color: #000; /* Text color */
    font-weight: bold;
}

/* Styles for the navigation links on hover within the navigation container */
.navigationContainer .navigationLink:hover {
    color: #ED1D24; /* Change color on hover to Marvel red */
}

/* Set background color for the whole page */
body {
    background-color: #1c1c1c; /* Very dark gray background */
    margin: 0; /* Remove default margin */
}

/* Grid layout for movies */
.moviesGrid, .actorsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust columns to 5 */
    gap: 20px;
    padding: 20px;
    max-width: 1400px; /* Adjust max-width to 1400px */
    margin: 0 auto; /* Center the grid within its parent */
    background-color: #1c1c1c; /* Very dark gray background */
}

/* Styles for each movie and actor cell */
.movieCell, .actorCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; /* Takes 100% of the grid column */
    border: 1px solid white; /* Add border for development */
    background-color: #1c1c1c; /* Match the background color */
    padding: 10px;
    border-radius: 10px;
}

/* Placeholder image style for movies */
.moviePoster {
    width: 100px; /* Set fixed width in pixels */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    align-self: center; /* Center align the poster */
}

/* Actor portrait style */
.actorPortrait {
    width: 100px; /* Set fixed width in pixels */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    align-self: center; /* Center align the portrait */
    filter: grayscale(85%); /* Apply 65% grayscale effect */
}

/* Movie title style */
.movieTitle {
    color: white; /* White text color */
    font-size: 16px; /* Font size for movie titles */
    margin: 1px 0; /* Add some margin */
}

/* Actor name style */
.actorName {
    color: white; /* White text color */
    font-size: 20px; /* Font size for actor names */
    margin: 1px 0; /* Add some margin */
}

/* Movie title and actor name hover effect */
.movieTitle:hover, .actorName:hover {
    color: #ED1D24; /* Marvel red color on hover */
}

/* Center header */
.header {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
